Repository googleapis/nodejs-datastore, pull requests merged in 2023-10, with the labels that each got.

#1166 fix: Make aggregation query requests run properly inside a transaction
  src/request.ts
  system-test/datastore.ts
Labels: api: datastore, size: m

#1173 fix(deps): update google-gax
  package.json
Labels: api: datastore, size: xs

#1172 test: Change the filter samples to use entity filters
  samples/concepts.js
Labels: api: datastore, samples, size: m

#1185 fix: Change tests to use new filter and use gax warn for warning just once
  src/query.ts
  test/entity.ts
  test/query.ts
Labels: api: datastore, size: s
